body{
	font-family:"Arial",sans-serif; 
	font-size:14pt; 
	color:#828282;
	background-color:#ece9ff;
}

h1 {
	text-align:left;
	font-weight:normal;
	color:teal;
}

h2 {
	font-weight:bold;
	font-family: 'Courgette', cursive;
	font-size: 37px;
}

ul {
	padding:0px;
	margin:0px;
}

.main{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}

.nav {
	font-family:"Arial", sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 50px;
	border-bottom: 1px solid purple; /*nav bar line*/
	margin-left:0px;
	margin-right:0px;
	background: #9c92ff;
}

.nav ul li{
	list-style: none;
	display: inline;
	margin: 2px;
	text-decoration:none;
	padding:5px;
}

.nav a:link{
	color: teal;
	text-decoration:none;
}

.nav a:visited{
	color: teal;
	text-decoration:none;
}

.nav a:hover{
	color:teal;
}

.nav a:active{
	color:teal;
	text-decoration:none;
}

.nav ul li a#active{
	color:teal;
	text-decoration:none;
}

.content{
	width:80%;
	margin-right:auto;
	margin-left:auto;
}

.content a{
	text-decoration: none;
	color: #15317E;
}

.content a:visited{
	color: #463E41;
}

.content a:hover{
	text-decoration: underline;
	font-weight: bold;
}

.home_image{
	float:right;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
	height: 270px;
	width: 1200px;
}

.officer{
	height: 300px;
	width: 250px;
}

.officerTitle{
  	font-family: 'Ravi Prakash', cursive;
 	font-size: 30px;
	text-align: right;
}

.box_right{
	float: right;
	width: 30%;
	color: #356F82;
	border: 1px solid #356F82;
	padding: 0 1% 0 1%;
	/*padding: 1%;*/
	margin: 1%;
}

.box_left{
	float: left;
	width: 15%;
	color: #356F82;
	/*border: 1px solid #808080;*/
	padding: 0 1% 0 1%;
	/*padding: 1%;*/
	margin: 1%;
}

.footer{
	padding: 5px;
/*	background: #ADD8C7;
*/	color: #356F82;
	width: 100%;
	text-align: center;
	font-size: 17px;
	font-family:"Arial", sans-serif;
	margin-left:auto;
	margin-right:auto;
}

/*.footer a{
	color: #fff;
	text-decoration: none;
}*/

.footer a:hover{
	text-decoration: underline;
}