body {
	font-family:"Arial",sans-serif; 
	font-size:14pt; 
	color:#828282;
	background-color:#ece9ff;
	margin-top: 0;
}

.banner {
	background-color: #9c92ff;
}

.banner img {
	display: block;
	margin: 0 auto;
}

h2 {
	font-weight:bold;
	font-family: 'Courgette', cursive;
	font-size: 37px;
}

ul {
	padding:0px;
	margin:0px;
}

#officersID {
	width: 100%;
}

.officer {
	width: 100%;
	display: inline;
}

.officer .officerTitle{
	float: right;
}

.officer p {
	float: right;
}

.main{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}

.nav {
	font-family:"Arial", sans-serif;
	text-align: center;
	font-size: 22px;
	margin-bottom: 50px;
	margin-left:0px;
	margin-right:0px;
	background: #9c92ff;
	width: 100%;
}

.nav ul li{
	list-style: none;
	display: inline;
	margin: 2px;
	text-decoration:none;
	padding:5px;
}

.nav a:link{
	color: white;
	text-decoration:none;
}

.nav a:visited{
	color: white;
	text-decoration:none;
}

.nav a:hover{
	color:white;
}

.nav #active{
	color:teal;
	text-decoration:none;
}

.content{
	width:80%;
	margin-right:auto;
	margin-left:auto;
}

.content a{
	text-decoration: none;
	color: #15317E;
}

.content a:visited{
	color: #463E41;
}

.content a:hover{
	text-decoration: underline;
	font-weight: bold;
}

.home_image{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
}




.officer{
	height: 300px;
	width: 250px;
}

.officerTitle{
  font-family: 'Courgette', cursive;
 	font-size: 30px;
	text-align: center;


}
.officer p{
	float: right;
}

.box_right{
	float: right;
	width: 30%;
	color: #356F82;
	border: 1px solid #356F82;
	padding: 0 1% 0 1%;
	/*padding: 1%;*/
	margin: 1%;
}

.box_left{
	float: left;
	width: 15%;
	color: #356F82;
	/*border: 1px solid #808080;*/
	padding: 0 1% 0 1%;
	/*padding: 1%;*/
	margin: 1%;
}

/*cs*/
.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,.highcharts-tooltip .highcharts-color-0 {
	fill: #8C8C8C;
}
.highcharts-point.highcharts-color-1,
.highcharts-legend-item.highcharts-color-1 .highcharts-point,.highcharts-tooltip .highcharts-color-1 {
	fill: #BCB696;
}

/*cs*/
.highcharts-point.highcharts-color-2,
.highcharts-legend-item.highcharts-color-2 .highcharts-point,.highcharts-tooltip .highcharts-color-2 {
	fill: #2c55c3;
}
.highcharts-point.highcharts-color-3,
.highcharts-legend-item.highcharts-color-3 .highcharts-point,.highcharts-tooltip .highcharts-color-3 {
	fill: #5cafc7;
}

/*ECE*/
.highcharts-point.highcharts-color-4,
.highcharts-legend-item.highcharts-color-4 .highcharts-point,.highcharts-tooltip .highcharts-color-4 {
	fill: #F8D41E;
}
.highcharts-point.highcharts-color-5,
.highcharts-legend-item.highcharts-color-6 .highcharts-point,.highcharts-tooltip .highcharts-color-5 {
	fill: #eef00a;
}

/*ME*/
.highcharts-point.highcharts-color-6,
.highcharts-legend-item.highcharts-color-6 .highcharts-point,.highcharts-tooltip .highcharts-color-6 {
	fill: #652019;
}
.highcharts-point.highcharts-color-7,
.highcharts-legend-item.highcharts-color-7 .highcharts-point,.highcharts-tooltip .highcharts-color-7 {
	fill: #c75c72;
}

.footer{
	padding: 5px;
/*	background: #ADD8C7;
*/	color: #356F82;
	width: 100%;
	text-align: center;
	font-size: 17px;
	font-family:"Arial", sans-serif;
	margin-left:auto;
	margin-right:auto;
}

/*.footer a{
	color: #fff;
	text-decoration: none;
}*/

.footer a:hover{
	text-decoration: underline;
}

/* CHART STYLING */

#mbars {
	margin: auto;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.dot {
	stroke: #000;
}

.legend {
	padding: 5px;
	font: 10px sans-serif;
	background: yellow;
	box-shadow: 2px 2px 1px #888;
}